body {
    background-color: #fafafa;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Roboto';
  }

  .container {
    display: inline-grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 100px 100px 100px 100px 30px;
    grid-gap: 2px;
  }

  .menu {
    background: #36a1ce;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .sidebar {
    background: #9da5a9;
    display: flex;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-end: 1/2;
    overflow: auto;
    justify-content: center;
  }

  a:link {
    text-decoration: none;
  }

  .konten {
    display: flex;
    grid-column: 2/5;
    align-items: center;
    justify-content: left;
  }

  .konten1 {
    background: #5a0d79;
  }

  .konten2 {
    background: #56545f;
  }

  .konten3 {
    background: #777190;
  }

  .konten4 {
    background: #91a078;
  }

  .konten a {
    color: white;
    margin-right: 10px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .konten span {
    margin-right: 20px;
    color: #fff;
    font-weight: 300;
  }

  .footer {
    background: #36a1ce;
    display: flex;
    grid-column: 1/5;
    grid-row: 6/6;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .footer a {
    color: #fff;
  }

  .img-icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .menu a {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 5px;
    color: white;
  }

  .img-profil {
    display: flex;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    object-fit: cover;
    height: 150px;
    width: 150px;
    color: white;
  }

  .apps {
    width: 80px;
    margin-right: 20px;
    margin-left: 20px;
    height: 80px;
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
  }

  .title-page {
    padding-top: 2px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    color: #fafafa;
  }
  @media (max-width: 480px) and (max-width: 700px){
      .img-profil{
  max-height: 70px;
  max-width: 70px;
  }
  
  .apps{
      max-height: 70px;
      max-width: 70px;
  }

  .title-page {
    font-size: 11px;
  }

  .footer{
      font-size: 12px;
  }
}